In [20]:
import pandas as pd 
import numpy as np 
import tweepy
from IPython.display import display
from time import sleep

In [2]:
# importing the data -- it should be stored in a dirrectory called data
politifact_fake = pd.read_csv('data/politifact_fake.csv')
politifact_real = pd.read_csv('data/politifact_real.csv')

gossipcop_fake = pd.read_csv('data/gossipcop_fake.csv')
gossipcop_real = pd.read_csv('data/gossipcop_real.csv')

## looking at shape and columns

In [3]:
# looking at shape and columns 
print("politifact fake:" + str(politifact_fake.shape)) # 432 pieces of news  (fake)
print("politifact real:" + str(politifact_real.shape)) # 624 pieces of news (real)

print("gossip cop fake" + str(gossipcop_fake.shape)) # 5323 pieces of news (fake)
print("gossip cop real" + str(gossipcop_real.shape)) # 16817 peices of news (real)

politifact fake:(432, 4)
politifact real:(624, 4)
gossip cop fake(5323, 4)
gossip cop real(16817, 4)

## drop na values

In [4]:
# drop na values 
politifact_fake.dropna(inplace=True)
politifact_real.dropna(inplace=True)

gossipcop_fake.dropna(inplace=True) 
gossipcop_real.dropna(inplace=True)

## looking at shape and columns after dropping NA values

In [5]:
# looking at shape and columns after dropping NA values 
print("politifact fake:" + str(politifact_fake.shape)) # 389 pieces of news  (fake)
print("politifact real:" + str(politifact_real.shape)) # 373 pieces of news (real)

print("gossip cop fake:" + str(gossipcop_fake.shape)) # 4898 pieces of news (fake)
print("gossip cop real:" + str(gossipcop_real.shape)) # 15747 pieces of news (real)

politifact fake:(389, 4)
politifact real:(373, 4)
gossip cop fake:(4898, 4)
gossip cop real:(15747, 4)

## columns
- id is the id associated with a peice of news
- news_url is a link to the original news 
- title is the title associated with the news 
- tweet_ids is a tab seperated string of all the tweet ids associated with that piece of news

In [6]:
# column names
politifact_fake.columns

Index(['id', 'news_url', 'title', 'tweet_ids'], dtype='object')

In [7]:
gossipcop_fake.columns

Index(['id', 'news_url', 'title', 'tweet_ids'], dtype='object')

## looking at examples of each column

In [8]:
politifact_example = politifact_fake.iloc[0]
print(politifact_example.id)
print(politifact_example.news_url)
print(politifact_example.title)
print(politifact_example.tweet_ids)

politifact15014
speedtalk.com/forum/viewtopic.php?t=51650
BREAKING: First NFL Team Declares Bankruptcy Over Kneeling Thugs
937349434668498944	937379378006282240	937380068590055425	937384406511005696	937387493451862016	937400766024896512	937406789686980608	937411332240011266	937415066810503168	937427631661768704	937429898670600192	937436145004302337	937438119468699648	937449906352152576	937450317142286336	937451599320027136	937452013939494912	937452151227510784	937453119478423553	937462176293437443	937468710952013824	937471159246950401	937473844813508609	937474875861749760	937481780088598528	937485222257586177	937491440082522117	937491843851231232	937493781271732229	937494245883068421	937506043604750338	937506080694947840	937508442352373760	937510057322995712	937520724453089280	937520726369816576	937521928738185216	937522668303147010	937522695339638785	937524138121478144	937526251027402753	937541294951411712	937542730162540544	937543928844374016	937567120220618752	937616001570672640	937628495865196544	937688299757588485	937692378604941317	937693047458025474	937696540453466112	937703980158935040	937737858726744064	937738398080622592	937739985113018368	937742668393734145	937749996098555911	937756485630808065	937757406129479682	937764315544907782	937764314500476929	937787346019340288	937787353824931840	937798800453918723	937808118695608320	937813631281934337	937832949453590528	937842520364584960	937845355282075650	937845358650101761	937855193483501568	937856552660295680	937864937820639239	937870723078639616	937900837086597120	937913933414981632	937920200514703366	937929101620404224	937936039510990848	938008154125885440	938068477276860416	938079298157760512	938100808083738624	938103147054161920	938165596730134528	938196044285923328	938211896431448064	938289136703823872	938353893443977216	938362786287058944	938600814914031616	938620649215528960	938776353049939968	938946906444660737	938988970653786112	939053016010735616	939089302167973888	939272833427034112	939272836887261186	939445960865968128	939461705528168448	939468815628488707	939985451036938245	940980953299783680	940987185859383296	941026788964102144	941044474905423872	941080636852523013	941471287054094337	941829442665553920	942182775024734208	942369156254576641	942421857634004998	942750575267106817	942966219799515136	944057586374103045	944202537976156160	944582624282120193	945092931844804608	946194743779717122	946570019860897792	946901429112967168	946913385211465728	946917851243393024	946935469216059393	947133585886269440	952689244400734208	952709650444668928	952727017983705089	953420038819733504	957810295442956288	957848606215737344	958020350599577600	959618726734655488	959796911778693120	959850069037109250	959953238807126016	959970102962683905	960005452980523009	960161342651998208	960208102820859904	960215718905118720	960215720071188480	960215758809845760	960225064590327808	960241750102159361	960536863793655809	960565604305350657	960596323207696384	960639325242347520	960872764889550848	960912756093353984	960935344068841472	960944324107276294	960967219365797888	961021342375202817	961049817886707712	961049833208532995	961081215678930944	961355701321904128	961355708750090240	961639675277529094	1027743374357536768

In [9]:
gossipcop_example = gossipcop_fake.iloc[0]
print(gossipcop_example.id)
print(gossipcop_example.news_url)
print(gossipcop_example.title)
print(gossipcop_example.tweet_ids)

gossipcop-2493749932
www.dailymail.co.uk/tvshowbiz/article-5874213/Did-Miley-Cyrus-Liam-Hemsworth-secretly-married.html
Did Miley Cyrus and Liam Hemsworth secretly get married?
284329075902926848	284332744559968256	284335412590297089	284359918792880128	284385385151332353	284456388833452032	284644878267318273	284656558963564545	284705391965794304	284705391957401601	284762425553723392	284766089827721217	284769766806257664	284769769490620416	284769775442337792	284769772980301824	284769778655186944	284769777073917952	284771913753042944	284902943201837056	284918939975303169	285592266716884993	285635421872979969	285635516924301313	285731324101287937	295954533555793920	296639632710459392	296651276626825216	700137152143699968	700501642412560384	700599457767890944	700925213031141376	757598980373045248	757614017808437248	757810204448743425	757855454886293504	818454872299163649	818532208990371841	818622382524997632	818623644737871872	824328059335692290	840237926642536449	840277988067430400	840305556736872448	840312641042104320	840320383437877248	840321378150670336	840325449389600768	840346792671698945	840359115754999810	840359140119699457	840366459675062274	840396881586982912	840413370650050560	840440847527116800	840444299732910080	840462550135365633	841849268646338560	849678041055887360	925851191560556544	927426728653230080	927531012212457473	927588875576528897	927588875551363072	927589121190760449	927606510406029314	928442019529162752	928532613056352256	928653424752758784	953201937574342658	953336408650993664	953692192064884737	953999445384888321	954307670344916992	1010039778891452416	1010184150970654720	1010184410115727361	1010191444617752576	1010229013908992000	1010262428670709766	1010334767701561344	1010393809144799232	1010418444016259072	1011127764261396481	1013723578834014208	1013723601571340291	1013723813685669889	1016000562893123584	1016431705132093440	1036444296348663808	1060594707447853058	1060595446488358912	1060679502240436224	1060683397649952770	1060708573590773761	1060722227237318656	1060812126200258560

## converting the string of tweet ids to a list

In [10]:
politifact_fake['tweet_ids'] = politifact_fake.tweet_ids.str.split('\t')
politifact_real['tweet_ids'] = politifact_real.tweet_ids.str.split('\t')
gossipcop_fake['tweet_ids'] = gossipcop_fake.tweet_ids.str.split('\t')
gossipcop_real['tweet_ids'] = gossipcop_real.tweet_ids.str.split('\t')

## average number of tweets per story

In [11]:
politifact_fake.number_of_tweets = politifact_fake.tweet_ids.str.len()
politifact_fake_avg = round(politifact_fake.number_of_tweets.mean(),2)

politifact_real.number_of_tweets = politifact_real.tweet_ids.str.len()
politifact_real_avg = round(politifact_real.number_of_tweets.mean(),2)

gossipcop_fake.number_of_tweets = gossipcop_fake.tweet_ids.str.len()
gossipcop_fake_avg = round(gossipcop_fake.number_of_tweets.mean(),2)

gossipcop_real.number_of_tweets = gossipcop_real.tweet_ids.str.len()
gossipcop_real_avg = round(gossipcop_real.number_of_tweets.mean(),2)

In [12]:
print("politifact fake " + str(politifact_fake_avg))
print("politifact real " + str(politifact_real_avg))
print("gossipcop fake " + str(gossipcop_fake_avg))
print("gossipcop real " + str(gossipcop_real_avg))

politifact fake 424.79
politifact real 1064.99
gossipcop fake 118.36
gossipcop real 55.83

## twitter API stuff

In [13]:
consumer_key = "SfH6LhmYyWltgdlTFuEm3ODvr"
consumer_secret = "WfzZyfovKaKuhjPV1EGGlTF9ha5zxuTGjIQIgdQ96GicdLyfxY"
access_token = "1311486910322286592-yXQQ8l6IPmexbdK5gBgGGyo3QL7ZVR"
access_token_secret = "U84aUFUgge2MLonznCKd3bodRedwT8bBi4NO6fAe2sHhP"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# error experienced 
# RateLimitError: [{'message': 'Rate limit exceeded', 'code': 88}]
api = tweepy.API(auth, wait_on_rate_limit = True)

## function for getting less than 100 tweets (API limit is 100 tweets at a time)

In [31]:
def get_tweets_small(row_data, number_of_tweets = False):
    # attributes destruuctured 
    news_id = row_data.id 
    news_url = row_data.news_url
    title = row_data.title
    id_list = row_data.tweet_ids
    # lists to store values in 
    tweet_ids_list = []
    username_list = []
    text_list = []
    reply_list = [] 
    # repeated data
    news_id_list = []
    news_url_list = []
    title_list = [] 
    if number_of_tweets:
        # if (len(row_data.tweet_ids) > number_of_tweets + 1):
        id_list = row_data.tweet_ids[:number_of_tweets + 1]
    try:
        result = api.statuses_lookup(id_ = id_list)
    except:
        print("error")
        return
    for status in result:
        # this is the ID for each individual tweet
        tweet_id = status.id
        tweet_ids_list.append(tweet_id)
        # username for each individual tweet
        username = status.user.screen_name 
        username_list.append(username)
        # text value for each individual tweet
        text = status.text
        text_list.append(text)
        # 
        reply = status.in_reply_to_status_id_str
        if reply is None:
            reply_list.append(False)
        else:
            reply_list.append(True)
        # these are repeated values: news_id, news_url and title will be the same for all tweets associated with a particular news story (row) 
        news_id_list.append(news_id)
        news_url_list.append(news_url)
        title_list.append(title)
    data = {"news_id": news_id_list, "news_url": news_url_list, "title": title_list, "tweet_id": tweet_ids_list, "username": username_list, "text": text_list, "reply": reply_list}
    return pd.DataFrame(data)

## function for getting more than 100 tweets

In [32]:
def get_tweets_large(row_data, number_of_tweets = False):
    # attributes destruuctured 
    news_id = row_data.id 
    news_url = row_data.news_url
    title = row_data.title
    id_list = row_data.tweet_ids
    # lists to store values in 
    tweet_ids_list = []
    username_list = []
    text_list = []
    news_id_list = []
    news_url_list = []
    title_list = []
    reply_list = []

    if number_of_tweets:
        if number_of_tweets <= 100: 
            return get_tweets_small(row_data, number_of_tweets)
        else:
            row_data.tweet_ids = row_data.tweet_ids[:number_of_tweets + 1]
            i = len(row_data.tweet_ids) // 100
            tweet_subset = row_data.tweet_ids[:99]

    else: 
        i = len(row_data.tweet_ids) // 100
        tweet_subset = row_data.tweet_ids[:99]
    

    for j in range(i):
        tweet_subset = row_data.tweet_ids[j*100:j*100+99]
        try:
            result = api.statuses_lookup(tweet_subset)
        except:
            print("error")
            return
        for status in result:
            # this is the ID for each individual tweet
            tweet_id = status.id
            tweet_ids_list.append(tweet_id)
            # username for each individual tweet
            username = status.user.screen_name 
            username_list.append(username)
            # text value for each individual tweet
            text = status.text
            text_list.append(text)
            # 
            reply = status.in_reply_to_status_id_str
            if reply is None:
                reply_list.append(False)
            else:
                reply_list.append(True)
            # these are repeated values: news_id, news_url and title will be the same for all tweets associated with a particular news story (row) 
            news_id_list.append(news_id)
            news_url_list.append(news_url)
            title_list.append(title)
    data = {"news_id": news_id_list, "news_url": news_url_list, "title": title_list, "tweet_id": tweet_ids_list, "username": username_list, "text": text_list, "reply": reply_list}
    return pd.DataFrame(data)

## function to aggregate all data in the data frame

In [28]:
def aggregate_data(df, name = "test.csv", number_of_tweets = False):
    # to see what row is currently running
    dh = display('',display_id=True)
    # print(df.shape[0])
    result = pd.DataFrame()
    for row in df.iterrows():
        # print(row[0])
        dh.update(str(row[0]) + '/' + str(df.shape[0]))
        row = row[1] # because iterrows() gives us a tuple (index, row) 
        if len(row.tweet_ids) <= 100:
            df2 = get_tweets_small(row_data = row, number_of_tweets = number_of_tweets)
        else:
            df2 = get_tweets_large(row_data = row, number_of_tweets = number_of_tweets)
            
            
        # df2 = get_all_tweets_single_news_story(row_data = row, number_of_tweets = number_of_tweets)
        # print(row)
        result = result.append(df2, ignore_index= True)
    result.to_csv(name)
    return result

In [17]:
politifact_fake_all_data = aggregate_data(politifact_fake, name = "politifact_fake_all_data.csv")

In [18]:
politifact_real_all_data = aggregate_data(politifact_real, name = "politifact_real_all_data.csv")

In [76]:
gossipcop_fake_all_data = aggregate_data(gossipcop_fake, name = "gossipcop_fake_all_data.csv")

In [33]:
gossipcop_real_all_data = aggregate_data(gossipcop_real, name = "gossipcop_real_all_data.csv", number_of_tweets=99)

''

error

In [43]:
politifact_fake_all_data.columns

Index(['news_id', 'news_url', 'title', 'tweet_id', 'username', 'text',
       'reply'],
      dtype='object')

In [46]:
politifact_fake_all_data.shape

(121114, 7)

In [47]:
politifact_real_all_data.shape

(306575, 7)

In [49]:
gossipcop_fake_all_data.shape

(426913, 7)

In [34]:
gossipcop_real_all_data.shape

(659250, 7)

## 2 examples per data frame

In [88]:
# politifact fake
politifact_fake_all_data.iloc[0:4]

,news_id,news_url,title,tweet_id,username,text,reply
0,politifact15014,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,9.379139e+17,NEPTUNE1X2X,BREAKING: First NFL Team Declares Bankruptcy O...,0.0
1,politifact15014,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,9.377874e+17,lumpy3148,BREAKING: First NFL Team Declares Bankruptcy O...,0.0
2,politifact15014,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,9.377500e+17,Mmarty1230,BREAKING: First NFL Team Declares Bankruptcy O...,0.0
3,politifact15014,speedtalk.com/forum/viewtopic.php?t=51650,BREAKING: First NFL Team Declares Bankruptcy O...,9.377427e+17,kin2souls,BREAKING: First NFL Team Declares Bankruptcy O...,0.0

In [92]:
print(politifact_fake_all_data.title.iloc[0])
print(politifact_fake_all_data.title.iloc[1])

BREAKING: First NFL Team Declares Bankruptcy Over Kneeling Thugs
BREAKING: First NFL Team Declares Bankruptcy Over Kneeling Thugs

In [94]:
print(politifact_fake_all_data.text.iloc[0])
print(politifact_fake_all_data.text.iloc[1])
print(politifact_fake_all_data.text.iloc[2])
print(politifact_fake_all_data.text.iloc[3])

BREAKING: First NFL Team Declares Bankruptcy Over Kneeling Thugs – ChristmasGifts https://t.co/WkwXW7pGST

Writer h… https://t.co/tebSFM2HLo
BREAKING: First NFL Team Declares Bankruptcy Over Kneeling Thugs https://t.co/UrN2v66Pk6
BREAKING: First NFL Team Declares Bankruptcy Over Kneeling Thugs https://t.co/2BBPgpCTi6 YES YES YES ABOUT TIME !!!… https://t.co/OW7T4lskBw
BREAKING: First NFL Team Declares Bankruptcy Over Kneeling Thugs https://t.co/0A07NXju0t

## second example

In [87]:
politifact_fake_all_data.iloc[20000:20004]

,news_id,news_url,title,tweet_id,username,text,reply
20000,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.666566e+17,Remodel_Repair,Filing update: Two more file for US House of R...,0.0
20001,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.664556e+17,NLeszcynski,@RepRyanCostello Also Costello is the only mem...,0.0
20002,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.663577e+17,ArabiaDeserta,@haaretzcom @jallawati He can become a better ...,1.0
20003,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.666048e+17,larryy,NY Republican in the US House of Representativ...,0.0

In [95]:
print(politifact_fake_all_data.title.iloc[20000])
print(politifact_fake_all_data.title.iloc[20001])

The Legislative Process
The Legislative Process

In [99]:
print(politifact_fake_all_data.text.iloc[20000])
print(politifact_fake_all_data.text.iloc[20001])
print(politifact_fake_all_data.text.iloc[20002])
print(politifact_fake_all_data.text.iloc[20003])

Filing update: Two more file for US House of Representatives https://t.co/ftZImrU8dB
@RepRyanCostello Also Costello is the only member of the US House of Representatives to support the PA state GOP ca… https://t.co/bBVBO5sELP
@haaretzcom @jallawati He can become a better #Speaker of the US House of Representatives....... by acclamation....… https://t.co/4BgSRW6Ojc
NY Republican in the US House of Representatives says "so many of these people that commit the mass murders end... https://t.co/dmsheFE7Kc

In [101]:
leg_process = politifact_fake_all_data[(politifact_fake_all_data.title == "The Legislative Process")]

In [102]:
leg_process.shape

(22406, 7)

In [103]:
leg_process.head()

,news_id,news_url,title,tweet_id,username,text,reply
18468,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.555517e+17,KSOOSiouxFalls,Lalley: There was a panel of the candidates wh...,0.0
18469,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.555543e+17,AnnieOakley2015,Admiration for Lisa Ring’s Support for our mil...,0.0
18470,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.555683e+17,cowomenschamber,She is a sixth-generation Coloradan. She is th...,0.0
18471,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.555919e+17,EliotPattison,#Tibet raised in US House of Representatives d...,0.0
18472,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,9.551452e+17,MackSheriff,https://t.co/91Ucx9l5RG\nSheriff Richard Mack ...,0.0

In [106]:
leg_process.tail()

,news_id,news_url,title,tweet_id,username,text,reply
40869,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,1.073699e+18,americanproudd,U.S. House of Representatives: CPS and DHS : C...,0.0
40870,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,1.073906e+18,Swampjams,U.S. House of Representatives recommends impea...,0.0
40871,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,1.073809e+18,Fuerza_Mundial,When the Democrats take over the U.S. House of...,0.0
40872,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,1.073656e+18,mediainvestors,Do you see the word House in those 20 words? \...,1.0
40873,politifact14548,https://www.house.gov/content/learn/legislativ...,The Legislative Process,1.073702e+18,CNET,".@NancyPelosi, @FrankPallone, @USRepMikeDoyle ...",0.0

In [114]:
print(leg_process.text.iloc[0])
print(leg_process.text.iloc[100])
print(leg_process.text.iloc[1000])
print(leg_process.text.iloc[20000])

Lalley: There was a panel of the candidates who want to fill the open seat for US House of Representatives. Tapio w… https://t.co/ks9EClrJRe
Why is an official committee in the US House of Representatives making a blatant attack on “liberals“, and also den… https://t.co/BMOBa7IJhK
MORE A nearly six-hour #shutdown of the US government has ended after the House of Representatives approved a Senat… https://t.co/PStQ1q78Wp
US midterms: Democrats retake control of House of Representatives, Republicans retain Senate - Times of India… https://t.co/Z6vbRwblou

## politifact real news examples

In [118]:
# first example
politifact_real_all_data.iloc[1000].title

"Donald Trump exaggerates when he says China has 'total control' over North Korea"

In [119]:
trump = politifact_real_all_data[politifact_real_all_data.title == 
"Donald Trump exaggerates when he says China has 'total control' over North Korea"]

In [120]:
trump.shape

(26, 7)

In [124]:
print(trump.text.iloc[0])
print(trump.text.iloc[1])
print(trump.text.iloc[2])
print(trump.text.iloc[25])

Donald Trump exaggerates when he says China has 'total control' over North Korea https://t.co/d4hJDW2IAV via @PolitiFact
Donald Trump exaggerates when he says China has 'total control' over North Korea https://t.co/bRz2Dn3kPd
Donald Trump exaggerates when he says China has 'total control' over North Korea https://t.co/qvkR3edC17 via @PolitiFact
Donald Trump exaggerates when he says China has 'total control' over North Korea | PolitiFact https://t.co/JyPrU5qLZr

In [140]:
# second example
obama_title = politifact_real_all_data.iloc[45000].title
obama_title

'School kids taught to praise Obama'

In [141]:
obama = politifact_real_all_data[politifact_real_all_data.title == obama_title]

In [142]:
obama.shape

(1126, 7)

In [148]:
print(obama.text.iloc[1])
print(obama.text.iloc[2])
print(obama.text.iloc[3])
print(obama.text.iloc[4])
print(obama.text.iloc[5])

School kids taught to praise Obama http://bit.ly/14qgjF
@glennbeck you have got to see this School kids taught to praise Obama http://bit.ly/VAcfC
YouTube: School kids taught to praise Obama (video) #whitehouse #barackobama http://bit.ly/TvQtR
School kids taught to praise Obama http://tinyurl.com/l4sovj #912 #glennbeck #teaparty #tcot
RT @terresamonroe: School kids taught to praise Obama http://tinyurl.com/l4sovj #dc912 #liberty #tlot #gop #accdf #obamafail

## gossipcop fake examples

In [150]:
title = gossipcop_fake_all_data.title.iloc[400]
title

'Miley Cyrus Claims ‘Satan Is A Nice Guy; He’s Misunderstood’'

In [151]:
data = gossipcop_fake_all_data[gossipcop_fake_all_data.title == title]

In [152]:
data.shape

(76, 7)

In [154]:
print(data.text.iloc[0])
print(data.text.iloc[1])
print(data.text.iloc[2])
print(data.text.iloc[3])
print(data.text.iloc[4])

Miley Cyrus Claims ‘Satan Is A Nice Guy; He’s Misunderstood’ The reptilius at work! https://t.co/160VD40DFW
Miley Cyrus Claims 'Satan Is A Nice Guy; He's Misunderstood' https://t.co/BoBG9OLmQK
Miley Cyrus Claims 'Satan Is A Nice Guy; He's Misunderstood' https://t.co/5Rm1RFoJ8l via @yournewswire
Miley Cyrus Claims 'Satan Is A Nice Guy; He's Misunderstood' https://t.co/7ysYiZTaqF
Miley Cyrus Claims ‘Satan Is A Nice Guy; He’s Misunderstood’ – Anonymous Portugal Internacional https://t.co/4lzwdZU5Gn via @Anonymous_API

In [155]:
# second example
title = gossipcop_fake_all_data.title.iloc[50000]
title

"'Stranger Things' Creators Go Inside Season 2's Heartbreaking Death"

In [156]:
data = gossipcop_fake_all_data[gossipcop_fake_all_data.title == title]

In [157]:
print(data.text.iloc[0])
print(data.text.iloc[1])
print(data.text.iloc[2])
print(data.text.iloc[3])
print(data.text.iloc[4])

... und dann siehst du mitten im Wald diesen kleinen Teich, der in seiner Mitte unheimlich zu leuchten scheint. Im… https://t.co/2M1Bv8VKbZ
@RRRockstah Wie ich die Mischung aus Stranger Things Intro, schönem Beat und von und zu Nachtsheims Lyrics und Voca… https://t.co/Fnr07UqTNG
will and eleven are gonna die in season 3 stranger things, remember this tweet 🤞🏾
@cedrikn2000 Haus des Geldes interessiert mich nicht. Stranger Things hab ich durch. Genauso wie riverdale (bin geh… https://t.co/BqGy0dq5Cn
#MillieBobbyBrown hat für die Entwicklung von #Eleven in #StrangerThings ganz eigene Ideen #Netflix
https://t.co/4jVgh3Z41U

## gossipcop real examples

In [171]:
title = gossipcop_real_all_data.title.iloc[1]
title

'Anne Heche and James Tupper Split After 10 Years Together'

In [172]:
data = gossipcop_real_all_data[gossipcop_real_all_data.title == title]

In [173]:
data.shape

(50, 7)

In [174]:
print(data.text.iloc[0])
print(data.text.iloc[1])
print(data.text.iloc[2])
print(data.text.iloc[3])
print(data.text.iloc[4])
print(data.text.iloc[42])

Anne Heche and James Tupper Break Up After More Than 10 Years Together Anne Heche and James Tupper have called it q… https://t.co/ilneupGXHW
Anne Heche and James Tupper Break Up After More Than 10 Years Together https://t.co/WiB3SZBTRV via Cargohub.ng
Anne Heche and James Tupper Break Up After More Than 10 Years Together Anne Heche and James Tupper have called it q… https://t.co/yQI5F143hL
Anne Heche and James Tupper Break Up After More Than 10 Years Together Anne Heche and James Tupper have called it q… https://t.co/ROscDFXQjZ
Anne Heche and James Tupper Break Up After More Than 10 Years Together Anne Heche and James Tupper have called it q… https://t.co/2XMWOdu35D
Anne Heche and James Tupper Break Up After More Than 10 Years Together Anne Heche and James Tupper have called it q… https://t.co/aUH0pbftZE

In [166]:
# second example 
title = gossipcop_real_all_data.title.iloc[498]
title

'Gwyneth Paltrow reveals how she broke her foot on Jimmy Kimmel'

In [167]:
data = gossipcop_real_all_data[gossipcop_real_all_data.title == title]

In [168]:
data.shape

(93, 7)

In [169]:
print(data.text.iloc[0])
print(data.text.iloc[1])
print(data.text.iloc[2])
print(data.text.iloc[3])
print(data.text.iloc[4])

Gwyneth Paltrow Reveals How She Broke Her Foot https://t.co/VxmazMKwU4
Gwyneth Paltrow Reveals How She Broke Her Foot https://t.co/5nwmw69cvr
Gwyneth Paltrow Reveals How She Broke Her Foot https://t.co/zeUuwcJTm8
STORY ZA LUSHANELL: Gwyneth Paltrow Reveals How She Broke Her Foot https://t.co/n3QZfc9gZP
Gwyneth Paltrow Reveals How She Broke Her Foot Gwyneth Paltrow made an unusual entrance on Jimmy Kimmel Live! Mond… https://t.co/VWEbXU1CG9